# Node modules
node_modules/

# Build output
/dist/

# macOS specific files
.DS_Store

# Log files
*.log

# Android build outputs
/android/

# Gradle files
.gradle/

# IDE files
.idea/
.vscode/

# Environment files
.env

# Keystore files
*.jks
*.keystore

# OS specific files
Thumbs.db
ehthumbs.db
Icon?